body {
  margin: 0;
  overflow-x: hidden;
  background: #333232;
  font-family: 'Montserrat', sans-serif;
}

#heart-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.heart {
  position: absolute;
  width: var(--heart-size);
  height: var(--heart-size);
  background-color: red;
  transform: rotate(-45deg);
  animation: fall linear 5s, fade linear infinite;
  z-index: -1;
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  width: var(--heart-size);
  height: var(--heart-size);
  background-color: red;
  border-radius: 50%;
}

.heart:before {
  top: calc(var(--heart-size) * -0.5);
  left: 0;
}

.heart:after {
  top: 0;
  left: calc(var(--heart-size) * 0.5);
}

@keyframes fall {
  0% {
      transform: translateY(-100px) rotate(calc(var(--initial-rotate) + -45deg));
  }
  100% {
      transform: translateY(100vh) rotate(calc(var(--initial-rotate) + -45deg));
  }
}

@keyframes fade {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

#text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#big-text {
  color: aliceblue;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 1;
}

.second-screen {
  background: #B7B5E4;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Use column direction to stack elements vertically */
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.slide-container {
  height: 70vh;
  display: flex;
  transition: transform 0.8s ease;
}

.slide {
  flex: 0 0 25%; /* Each slide takes up 1/4 of the container width */
  text-align: center;
  position: relative;
  box-sizing: border-box;
  padding: 0px 50px;
}

.slide.central {
  flex: 0 0 50%; /* Central slide takes up half of the container width */
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 40px; /* Adjust the radius as needed */
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide video {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 20px; /* Adjust the radius as needed */
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slide-texts {
  margin-top: 20px; /* Add space between the slide container and the text */
  text-align: center;
}

.slide-text {
  display: none; /* Hide all texts by default */
  font-size: 1.2rem;
  color: #333;
}

.slide.central + .slide-texts .slide-text:nth-child(1) {
  display: block; /* Show the first text by default */
}

#music-controller {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it appears above other elements */
  background-color: rgba(24, 24, 24, 0.9);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 300px;
}

#now-playing {
  margin-bottom: 10px;
  font-size: 1rem;
  text-align: center;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.control-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.control-button img {
  width: 24px;
  height: 24px;
}

.control-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.control-button:focus {
  outline: none;
}

#progress-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#progress-bar {
  background-color: #1DB954;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#audioSection {
  /* Your styles for the audio player section */
  opacity: 0;
  transition: opacity 0.5s ease;
}

#audioSection.show {
  opacity: 1;
}